.jodit_sticky>.jodit-toolbar__box {
  top: 73px !important;
}

.jodit-wysiwyg table {
  display: block;
  overflow-x: auto;
  /* white-space: nowrap; */
  width: 100%;
  height: auto;
  border-collapse: collapse;
}

.jodit-wysiwyg th {
  color: #4a7cfe;
  background-color: #DEE9FF;
}

.jodit-wysiwyg td, 
.jodit-wysiwyg th {
  padding: 8px;
  border: 1px solid #ccc;
  border-color: #4a7cfe !important; 
}
